[Desktop Entry]
Comment=Merry Christmas
Name=Christmas Light
X-KDE-PluginInfo-Author=l4k1
X-KDE-PluginInfo-Email=l4k1@gmail.com
X-KDE-PluginInfo-Name=Christmas-Light
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-Category=Plasma Theme
X-KDE-PluginInfo-Depends=Plasma5
X-KDE-PluginInfo-License=GPLv3
X-KDE-PluginInfo-EnabledByDefault=false
